* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MuiGrid-item {
  display: flex;
}

.MuiCard-root {
  flex: 1;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
